.city {
  position: relative;
  margin-top: 7px;
  color: black;
  background-color: white;
  width: 220px;
  height: 310px;
  border-radius: 16px;
  padding: 32px;
  font-family: sans-serif;
  box-shadow: 0px 16px 1px -10px rgba(132, 132, 132, 0.931);
  h4 {
    font-weight: 400;
    position: relative;
    font-size: 20px;
    margin: 7px 0;
    span {
      background-color: orange;
      padding: 3px 8px;
      margin-left: 5px;
      font-size: 10px;
      text-align: center;
      border-radius: 12px;
      color: white;
      position: absolute;
      top: 1px;
    }
  }
  h1 {
    padding-left: 4px;
    font-size: 46px;
    font-family: serif;
    position: relative;
    margin: 6px 0;
    text-align: left;
    span {
      padding-left: 4px;
      font-weight: 500;
      font-size: 22px;
      position: absolute;
      top: 5px;
    }
  }
  p {
    padding-left: 5px;
    font-size: 14px;
    color: rgb(51, 50, 50);
    color: rgb(111, 110, 110);
    text-transform: uppercase;
    font-weight: 500;
  }
  img {
    margin-left: -5px;
  }
  .delete_button {
    border: none;
    background: red;
    border-radius: 16px;
    color: white;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 11px;
    transition: 0.25s;
  }
  .delete_button:hover {
    transform: scale(1.12);
  }
}

@media screen and (max-width: 550px) {
  .city {
    width: 162px;
    height: 265px;
    padding: 24px;
    h1 {
      font-size: 32px;
      span {
        font-size: 19px;
        top: 3px;
      }
    }
  }
}
